<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>143EE2501C5FE65D00862A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>143EE26C1C5FE65E00862A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>143EE2771C5FE65E00862A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
